// bower:scss
// endbower

$application-body-height: 550px;
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
  padding: 0;
  color: #555;
}

.floodlink {
	text-decoration: none;
	color: $text-color;
	vertical-align: top;
	//box-shadow: $shadow;
	padding: 2px 3px 3px 3px;
	background-color: white;
	&:hover {
	  position: relative;
	  z-index: 500;
	  text-decoration: none;
	  color: $text-color;
	}
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* NAVIGATION STYLES */
.nav-container {
  width: 98%;
  margin: 0px auto;	
}
.nav-d3bars-container {
	width: 65%;
	display: inline-block;
}
.nav-globe-container {
	display: inline-block;
	width: 33%;
	vertical-align: top;
}
.nav-city-list-grid-inner {
	width: 300px;
}
.navbar-title {
	float: left;
	height: 50px;
	padding: 15px 15px 15px 10px;
	font-size: 20px;
	line-height: 20px;
	color: #777;
}
.nav-cell {
	border-left: 1px solid #e7e7e7;
	height: 100%;
}
.navbar {
	margin-bottom: 5px !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    //margin-bottom: 20px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.svg-container {
	width: 100%;
	height: $application-body-height;
	position: relative;
}
.main-container {
	width: 98%;
	margin: 0px auto;
}





.grid-container {
	display: table;
}
.grid-inner {
	display: table-cell;
}

/* CITY LIST STYLES */
.city-list-grid-inner {
	vertical-align: top;
	width: 300px;
	padding-left: 5px;
	padding-right: 5px;
}
.city-list-container {
	height: $application-body-height;
	overflow-y: scroll;
}

/* CITY STYLES */
.city-container {
	border: 1px solid #333;
	border-radius: 5px;
	margin-bottom: 5px;
	position: relative;
	cursor: pointer;
}
.color-container {
	border-width: 4px;
	border-style: solid;
	border-radius: 5px;
	padding: 5px;
}
.city-title {
	font-size: 19px;
}

.city-weather-icon {
	position: absolute;
	top: 0px;
/*	right: 5px;
	top: 2px;*/
}
.city-remove-icon {
	float: right;
}
.description-container {
	margin: 8px 0px;
}
.condition-description {
	display: inline-block;
	font-weight: bold;
	width: 45%;
	text-align: right;
}
.discription-value {
	display: inline-block;
	padding-left: 10px;
}
/*d3bars styles*/
.d3bars-container {
	width: 65%;
	display: inline-block;
}
.graph-switch {
	display: inline;
}
.graph-switch > li {
	cursor: pointer;
}
.graph-title {
	display: inline-block;
	font-size: 27px;
	font-weight: 200;
}
.graph-spinner {
	position: absolute;
	left: 50%;
	top: 45%;	
}


/*CITY SEARCH STYLES*/
.city-search-spinner {
	position: absolute;
	right: 19px;
	top: 17px;
}
.city-search-container {
	position: relative;
	margin-bottom: 10px;
}
.city-search-results {
	padding: 5px;
	position: absolute;
	background-color: #fff;
	z-index: 10;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.city-search-results.valid {
	cursor: pointer;
	&:hover { 
	  background-color: #efefef;
	}
}
 .city-search-results:after {
  content: "";
  display: table;
  clear: both;
}
.city-add-span {
	float: right;
}


/* D3 STYLES */
.axis path,
.axis line {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}
text {
	fill: #555;
}
/* GLOBE STYLES */
.globe-grid-inner {
	width: 504px;
	border: 1px solid #333;
	border-radius: 5px;
}
#globe-container {
	display: inline-block;
	width: 33%;
	vertical-align: top;
}



