<div ng-if="errors.hasError" class="alert alert-danger">Open weather api is failing to return history data, <a href="#/static">click here to view the site with hardcoded history data</a> </div>
<div ng-if="static" class="alert alert-info" style="margin-bottom: 7px;">History data is hard coded for New York and London, <a href="/#/">click here to return to live history data</a> </div>
<div class="grid-container" style="width: 100%;">
	<div class="grid-inner city-list-grid-inner">
	  <city-list></city-list>
	</div>
	<div class="grid-inner" style="width: auto;">
	  <div class="d3bars-container">
	  <d3-bars></d3-bars>
	  </div>
	  <div id="globe-container" globe>
	  </div>
	</div>
	
	
</div>